In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("BASE.csv", header = 0, parse_dates = [0], index_col = 0, dayfirst=True)

df

,Hora,Tipo Dia,Ciudad Buenos Aires,Clima Ciudad Buenos Aires,Gran Bs As,Clima Gran Bs As,Tucuman,Clima Tucuman,Sgo del estero,Clima Sgo del estero,...,Corrientes,Clima Corrientes,Entre rios,Clima Entre rios,Catamarca,Clima Catamarca,Chaco,Clima Chaco,Chubut,Clima Chubut
Fecha,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,0,1,1544.873,19.2,4593.287,19.2,419.193,21.6,195.778,24.4,...,394.472,25.2,385.356,19.5,126.319,20.3,483.497,28.7,519.704,10.0
2018-01-01 01:00:00,1,1,1425.868,18.6,4384.859,18.6,389.050,21.6,193.495,24.2,...,446.903,24.5,367.915,18.9,121.862,20.1,399.233,28.0,510.551,9.3
2018-01-01 02:00:00,2,1,1387.791,18.5,4266.546,18.5,359.072,21.2,186.569,22.8,...,448.334,23.8,365.016,18.1,117.973,19.0,370.105,28.9,507.371,9.0
2018-01-01 03:00:00,3,1,1327.708,17.9,4103.462,17.9,338.783,20.8,185.277,22.4,...,458.976,23.2,356.457,17.7,113.656,18.3,429.469,25.7,502.819,8.3
2018-01-01 04:00:00,4,1,1268.554,17.5,3912.347,17.5,332.997,21.0,185.997,21.0,...,461.535,23.7,346.257,17.1,111.440,18.6,456.159,24.7,493.881,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-31 19:00:00,19,7,1993.628,11.6,6638.925,11.6,336.969,16.3,168.122,18.8,...,318.881,14.7,419.789,12.8,125.713,10.7,296.566,18.6,640.201,3.4
2021-07-31 20:00:00,20,7,2179.763,9.9,7349.056,9.9,404.000,13.9,207.189,13.8,...,349.980,12.0,487.147,12.2,151.952,9.1,330.030,16.0,660.376,1.1
2021-07-31 21:00:00,21,7,2185.000,9.0,7698.634,9.0,431.501,12.5,219.926,10.2,...,358.981,10.6,497.112,11.5,165.341,7.9,342.066,15.6,652.712,-0.1
2021-07-31 22:00:00,22,7,2128.403,8.3,7751.022,8.3,439.828,8.9,224.177,7.8,...,360.408,9.0,482.121,10.8,170.229,6.5,347.652,14.2,646.377,-0.6
2021-07-31 23:00:00,23,7,2061.354,7.9,7581.586,7.9,436.181,8.7,222.316,8.2,...,345.550,8.7,456.310,10.2,169.499,6.0,330.031,14.0,642.453,-1.0

In [9]:
df.describe()

,Hora,Tipo Dia,Ciudad Buenos Aires,Clima Ciudad Buenos Aires,Gran Bs As,Clima Gran Bs As,Tucuman,Clima Tucuman,Sgo del estero,Clima Sgo del estero,...,Corrientes,Clima Corrientes,Entre rios,Clima Entre rios,Catamarca,Clima Catamarca,Chaco,Clima Chaco,Chubut,Clima Chubut
count,31392.000000,31392.000000,31392.000000,31291.000000,31392.000000,31291.000000,31392.000000,31169.000000,31392.000000,31136.000000,...,31392.000000,31136.000000,31392.000000,31166.000000,31392.000000,31203.000000,31392.000000,31218.000000,31392.000000,31058.000000
mean,11.500000,3.902905,1711.380114,18.515474,5635.553572,18.515474,336.781306,19.875649,184.651639,20.724859,...,321.283998,20.071811,414.934985,18.560056,118.815629,17.751216,334.087203,21.508870,546.809921,9.116270
std,6.922297,2.068559,239.908452,6.414347,1264.013942,6.414347,75.951771,7.044609,59.121355,8.203949,...,86.136289,6.847375,86.197052,6.921694,25.026329,6.528531,103.080397,7.327572,95.587045,7.103691
min,0.000000,1.000000,35.574000,0.000000,1.538000,0.000000,0.000000,-1.800000,2.031000,-6.200000,...,6.094000,-0.900000,17.965000,-1.400000,1.257000,-2.500000,2.132000,-3.500000,4.337000,-9.900000
25%,5.750000,2.000000,1542.132500,13.700000,4694.610000,13.700000,282.532500,15.200000,141.018750,15.600000,...,257.770500,15.400000,351.720250,13.500000,100.548750,13.000000,254.648250,16.800000,499.428750,4.000000
50%,11.500000,4.000000,1702.990000,18.600000,5506.274000,18.600000,323.140500,20.200000,169.880500,21.200000,...,307.733500,20.500000,405.980000,18.700000,116.249500,18.000000,308.467500,22.000000,542.674000,8.600000
75%,17.250000,6.000000,1868.775000,23.200000,6401.638250,23.200000,377.528000,24.600000,214.578000,26.200000,...,377.074250,24.700000,463.552250,23.500000,134.741000,22.400000,394.124250,26.500000,584.935500,13.700000
max,23.000000,7.000000,2591.461000,37.800000,10478.560000,37.800000,690.833000,41.600000,446.468000,42.400000,...,1085.872000,39.400000,850.822000,38.000000,225.397000,37.500000,742.616000,43.300000,1014.062000,34.200000

In [ ]:
#Graficos de densidad
for column in df.columns[2:]:
    plt.figure()
    sns.displot(df[column])

In [3]:
#Calculo del rango intercuartil
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

Hora                           11.50000
Tipo Dia                        4.00000
Ciudad Buenos Aires           326.64250
Clima Ciudad Buenos Aires       9.50000
Gran Bs As                   1707.02825
Clima Gran Bs As                9.50000
Tucuman                        94.99550
Clima Tucuman                   9.40000
Sgo del estero                 73.55925
Clima Sgo del estero           10.60000
Santa Cruz                     17.24775
Clima Santa Cruz                8.80000
Santa fe                      329.52450
Clima Santa fe                 10.40000
Salta                          64.00900
Clima Salta                     9.00000
San juan                       79.67350
Clima San juan                 13.70000
San luis                       50.11500
Clima San luis                 10.80000
Misiones                       81.18000
Clima Misiones                  7.50000
Neuquen                        39.25025
Clima Neuquen                  12.40000
Rio negro                      47.61175
Clima Rio negro                 9.50000
La rioja                       45.51775
Clima La rioja                 11.40000
Mendoza                       133.34850
Clima Mendoza                  12.20000
Jujuy                          49.40400
Clima Jujuy                     9.00000
La pampa                       27.15550
Clima La pampa                 11.60000
Formosa                        74.93775
Clima Formosa                   9.20000
Cordoba                       306.55725
Clima Cordoba                  10.20000
Corrientes                    119.30375
Clima Corrientes                9.30000
Entre rios                    111.83200
Clima Entre rios               10.00000
Catamarca                      34.19225
Clima Catamarca                 9.40000
Chaco                         139.47600
Clima Chaco                     9.70000
Chubut                         85.50675
Clima Chubut                    9.70000
dtype: float64

In [ ]:
#Reemplazar outliers utilizando el IQR con NaN

df = df.mask((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR)), np.nan)
df.info()

In [34]:
#Interpolar linealmente los valores NaN
df = df.interpolate(method="linear", limit_direction ='forward')
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 31392 entries, 2018-01-01 00:00:00 to 2021-07-31 23:00:00
Data columns (total 48 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Hora                       31392 non-null  int64
 1   Tipo Dia                   31392 non-null  int64
 2   Ciudad Buenos Aires        31392 non-null  float64
 3   Clima Ciudad Buenos Aires  31392 non-null  float64
 4   Gran Bs As                 31392 non-null  float64
 5   Clima Gran Bs As           31392 non-null  float64
 6   Tucuman                    31392 non-null  float64
 7   Clima Tucuman              31392 non-null  float64
 8   Sgo del estero             31392 non-null  float64
 9   Clima Sgo del estero       31392 non-null  float64
 10  Santa Cruz                 31392 non-null  float64
 11  Clima Santa Cruz           31392 non-null  float64
 12  Santa fe                   31392 non-null  float64
 13  Clima Santa fe             31392 non-null  float64
 14  Salta                      31392 non-null  float64
 15  Clima Salta                31392 non-null  float64
 16  San juan                   31392 non-null  float64
 17  Clima San juan             31392 non-null  float64
 18  San luis                   31392 non-null  float64
 19  Clima San luis             31392 non-null  float64
 20  Misiones                   31392 non-null  float64
 21  Clima Misiones             31392 non-null  float64
 22  Neuquen                    31392 non-null  float64
 23  Clima Neuquen              31392 non-null  float64
 24  Rio negro                  31392 non-null  float64
 25  Clima Rio negro            31392 non-null  float64
 26  La rioja                   31392 non-null  float64
 27  Clima La rioja             31392 non-null  float64
 28  Mendoza                    31392 non-null  float64
 29  Clima Mendoza              31392 non-null  float64
 30  Jujuy                      31390 non-null  float64
 31  Clima Jujuy                31392 non-null  float64
 32  La pampa                   31392 non-null  float64
 33  Clima La pampa             31392 non-null  float64
 34  Formosa                    31392 non-null  float64
 35  Clima Formosa              31392 non-null  float64
 36  Cordoba                    31392 non-null  float64
 37  Clima Cordoba              31392 non-null  float64
 38  Corrientes                 31392 non-null  float64
 39  Clima Corrientes           31392 non-null  float64
 40  Entre rios                 31392 non-null  float64
 41  Clima Entre rios           31392 non-null  float64
 42  Catamarca                  31392 non-null  float64
 43  Clima Catamarca            31392 non-null  float64
 44  Chaco                      31392 non-null  float64
 45  Clima Chaco                31392 non-null  float64
 46  Chubut                     31392 non-null  float64
 47  Clima Chubut               31392 non-null  float64
dtypes: float64(46), int64(2)
memory usage: 12.7 MB

In [35]:
df.describe()

,Hora,Tipo Dia,Ciudad Buenos Aires,Clima Ciudad Buenos Aires,Gran Bs As,Clima Gran Bs As,Tucuman,Clima Tucuman,Sgo del estero,Clima Sgo del estero,...,Corrientes,Clima Corrientes,Entre rios,Clima Entre rios,Catamarca,Clima Catamarca,Chaco,Clima Chaco,Chubut,Clima Chubut
count,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,...,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000,31392.000000
mean,11.500000,3.902905,1711.048904,18.521654,5630.462966,18.521654,335.211465,19.887870,182.878688,20.762928,...,321.094709,20.068506,413.472827,18.570002,118.706990,17.755095,332.946995,21.531146,545.203677,9.090784
std,6.922297,2.068559,236.445257,6.406009,1246.667717,6.406009,71.284021,7.016546,54.210970,8.109392,...,85.486894,6.819727,81.809890,6.913389,24.542334,6.519120,99.951123,7.247359,67.042847,7.087502
min,0.000000,1.000000,1054.673000,0.000000,2952.547000,0.000000,147.015000,1.100000,33.308000,-0.200000,...,87.113000,1.500000,198.134000,-1.400000,53.963000,-1.000000,72.446000,2.300000,371.350000,-9.900000
25%,5.750000,2.000000,1542.132500,13.700000,4694.610000,13.700000,282.532500,15.200000,141.018750,15.600000,...,257.770500,15.400000,351.720250,13.500000,100.553750,13.000000,254.648250,16.900000,503.051500,4.000000
50%,11.500000,4.000000,1702.990000,18.600000,5506.274000,18.600000,323.140500,20.200000,169.880500,21.200000,...,307.733500,20.500000,405.980000,18.800000,116.249500,18.000000,308.467500,22.000000,541.427500,8.600000
75%,17.250000,6.000000,1868.775000,23.200000,6401.638250,23.200000,377.528000,24.600000,214.578000,26.200000,...,377.074250,24.600000,463.552250,23.500000,134.741000,22.400000,394.124250,26.500000,580.307250,13.700000
max,23.000000,7.000000,2358.115000,37.300000,8961.287000,37.300000,519.998000,38.700000,324.905000,42.000000,...,555.948000,38.600000,631.224000,38.000000,185.943000,36.300000,603.326000,41.000000,713.115000,28.200000

In [43]:
df.to_csv("BASEo.csv")